
{% load static %}
<!-- Helper JavaScript -->
<script type="text/javascript" src="{% static 'table_helper.js' %}"></script>

<!--   Core JS Files   -->
<script src="{% static 'paper-dashboard/assets/js/core/jquery.min.js' %}"></script>
<script src="{% static 'paper-dashboard/assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'paper-dashboard/assets/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'paper-dashboard/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<!-- Chart JS -->
<script src="{% static 'paper-dashboard/assets/js/plugins/chartjs.min.js' %}"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'paper-dashboard/assets/js/paper-dashboard.min.js' %}" type="text/javascript"></script>
